<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>FurFaceBook</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <div class="bg-primary">
      <header class="display-flex justify-space-between align-center p-2">
        <h1 class="text-light col-10"><a href="/">furfacebook</a></h1>
        <nav class="col-2 text-right">
          {{#if logged_in}}
          <a href="/profile" class="text-light m-3">profile</a>
          <button class="no-button" id="logout">logout</button>
          {{else}}
          <a href="/login" class="text-light m-3">login</a>
          {{/if}}
        </nav>
    </header>
    </div>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>

</html>