<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>FurFaceBook</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <div class="bg-primary">
      <header class="display-flex justify-space-between align-center p-2">
      <h1 class="text-light">
        furfacebook 
      </h1>
    </header>
    </div>
    
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>