<div class="text-center">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Created by User ID: {{user_id}} on {{format_date date_created}}</p>
    <p>
        <button class="btn btn-warn">Delete</button>
    </p>
</div>